Repository kubernetes-sigs/provider-ibmcloud-test-infra, pull requests merged in 2025-07, with the labels that each got.

#38 Introduce an option to update packages during cluster setup
  kubetest2-tf/data/k8s-ansible/group_vars/all
  kubetest2-tf/data/k8s-ansible/install-k8s.yml
Labels: approved, cncf-cla: yes, size/S, lgtm

#36 Adding a function to install ansible.
  kubetest2-tf/Makefile
  kubetest2-tf/hack/ansible_install.sh
Labels: ok-to-test, size/M, approved, cncf-cla: yes, lgtm

#39 Download and setup only required images on CP/worker nodes
  kubetest2-tf/data/k8s-ansible/group_vars/all
  kubetest2-tf/data/k8s-ansible/install-k8s-perf.yml
  kubetest2-tf/data/k8s-ansible/roles/download-k8s/tasks/main.yml
  kubetest2-tf/data/k8s-ansible/roles/install-k8s/tasks/main.yml
Labels: approved, cncf-cla: yes, size/S, lgtm

#40 CentOS Stream 10: Install required packages for k8s setup and e2e run
  kubetest2-tf/data/k8s-ansible/install-k8s.yml
  kubetest2-tf/data/k8s-ansible/roles/update-node-os/tasks/main.yaml
  kubetest2-tf/hack/ansible_install.sh
Labels: approved, cncf-cla: yes, size/S, lgtm, needs-ok-to-test
